
.barSup1{
	position:fixed;
}

.barnav{
    margin-top: 0%;
}

.nofocus{
	opacity: 100;
}

.focus2{
	opacity: 0;
}

.head-titles{
    margin-top: 10%;
}

.text-top{
    padding-top: 50%;
}

.text-center{
    margin-top: 10%;
}

.title-center .h1{
		margin-top: 10%;
		font-size: 2%;
}

.body-center .h1{
		font-size: 5%;
}

.body{
    background-color: white;
}

.corpo1-position{
    margin-top: 5%;
}

.head-title{
    margin-top: 5%;
}

.perfil-position{
    margin-top: 10%;
}

.position-bar{
 margin-left: 30%;
}

.size-seta{
    background-color: transparent;
    margin-top: 10%;
}
